.main {
    margin-top: 40px;
    background-color: #f1f5f1f9;
    min-height: 90vh;
    padding: 1rem 3rem;
  }
.dash-title {
  margin-bottom: 10px;
  padding-top: 1rem;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem;
}
.single-card {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.3rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}
.card-body {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.card-body span {
  font-size: 1.2rem;
  color: #777;
  padding-right: 1rem;
}
.card-body h4 {
  color: blueviolet;
  font-size: 1.3rem;
}
.card-body h5 {
  color: cadetblue;
  font-size: 1rem;
  padding-top: 1.1rem;
}
.footer {
  color: salmon;
  padding-left: 1rem;
  font-size: 1.1rem;
}
.recent {
  margin-top: 2.7rem;
}
.activity-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 1.5rem;
}
.activity-card {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.3rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}
.activity-card h3 {
  color: slategray;
  margin: 1rem;
}
.activity-card table {
  width: 100%;
  height: 45vh;
}
.activity-card table thead {
  background-color: #efefef;
  /* text-align: left; */
}
.activity-card table tr th {
  font-size: 1.7rem;
  color: rgb(53, 93, 99);
  padding-right: 1rem;
  align-items: center;
}
.activity-card table tr td {
  font-size: 1.2rem;
  /* align-items: center; */
  padding-left: 2rem;
}
.badge {
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
.badge.success {
  background-color: #def7ec;
}
.td-team {
  display: flex;
  align-items: center;
}
.img-1,
.img-2,
.img-3 {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin-left: -10px;
  border: 3px solid #efefef;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-1,
.img-2,
.img-3 {
  background-image: url("./image/1.jpg.jpg");
}
.summary-card {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.3rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}
.summary-single {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
}
.summary-single span {
  font-size: 1.5rem;
  padding-right: 1rem;
  /* color: #777; */
}
.summary-single h5 {
  font-size: 1.6rem;
}
.summary-single small {
  font-size: 1.3rem;
}
.bday-card {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.3rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}
.bday-flex {
  display: flex;
  align-items: center;
}
.bday-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("./image/1.jpg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 0.5rem;
}
.bday-inf h5 {
  font-size: 1.5rem;
  padding: 1rem;
}
.bday-inf small {
  font-size: 1.2rem;
  padding: 1rem;
}
.text {
  text-align: center;
  margin-top: 0.4rem;
}
.text button {
  background-color: rgb(37, 94, 179);
  color: rgba(211, 68, 42, 0.986);
  border-radius: 20px;
  margin-right: 1.2rem;
  border: none;
  outline: none;
  padding: 0.5rem 0.3rem;
}
.text button:hover {
  background-color: darkgreen;
}
