.sidebar-header:hover {
    background-color: darkorchid;
  }
  
  .sidebar {
    float: left;
    width: 240px;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    /* background-color: rgba(53, 179, 120, 0.822), 0.644);
    overflow-y: auto; */
    background-color: rgba(129, 197, 197, 0.89);
  }
  /* #opensidebarmenu:checked ~ .sidebar .sidebar-header h3 span:first-child,
  #opensidebarmenu:checked ~ .sidebar li span:last-child {
    display: none;
  } */

  .sidebar-header {
    padding-top: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .sidebar-menu {
    justify-content: space-around;
    margin-top: 20px;
  }
  .sidebar li {
    margin-bottom: 1rem;
  }
  .sidebar a {
    color: #ffffff;
  }
  .sidebar a span:last-child {
    padding-left: 0.5rem;
  }
  .sidebar-menu a {
    text-decoration: none;
  }
  .sidebar-menu li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid cornflowerblue;
  }
  .main-content {
    position: relative;
    margin-left: 240px;
  }
  header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: 85%;
    height: 60px;
    padding: 15px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid chocolate;
    background-color: #ffffff;
  }
  .social-icon {
    display: flex;
    align-items: center;
  }
  
  .toggle-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 22px;
    height: 22px;
    background-color: crimson;
    cursor: pointer;
  }
  .social-icon span,
  .social-icon div {
    margin-left: 1rem;
  }
  .social-icon div {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
  }
  .search-bar {
    display: flex;
    align-items: center;
  }
  .search-bar input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
  }